services:
  backend:
    image: node:20-alpine
    container_name: clothesshop-backend
    working_dir: /app
    ports:
      - '3000:3000'
      - '5555:5555'
      - "51212:51212" 
    env_file:
      - .env
    volumes:
      - .:/app
      - node_modules:/app/node_modules
    depends_on:
      - postgres
    command: sh -c "npm install && npx prisma generate && npm run start:dev"

  postgres:
    image: postgres:16
    container_name: postgres-db
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4:8.9
    container_name: pgadmin
    restart: always
    ports:
      - '5050:80'
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_PASSWORD}
    depends_on:
      - postgres

volumes:
  postgres_data:
  node_modules:
